**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.s.sh
.sonarqube.sh

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
.terraform.lock.hcl

.vscode
.env